@use 'var' as *;
@use 'mixins' as *;

.container {
  max-width: calc(128em / 1.6 + 2em / 1.6);
  margin-left:  auto;
  margin-right: auto;
  padding-left: calc(1em / 1.6);
  padding-right:calc(1em / 1.6);
}

.button {
  text-align: center;

  .btn {
    display: inline-flex;
  }

}