:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-prod1: #970c8d;
  --color-prod2: #340673;
  --white:      #fff;
  --black:      #282828;
}